/src/events/config.json
/node_modules
/rethinkdb-2.3.6
/ffmpeg.exe
/ffplay.exe
/ffprobe.exe
/commands/developers/eval.js
/commands/developers/secretCommand.js
/commands/developers/global-send.js
/.idea
/src/events/config.json