<html>
<head>
    <meta charset="UTF-8">

    <!--
    Author: Korrumz2
    Copyright: Krive
    Fonts: fonts.google.com
    -->

    <!-- bootstrap -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- css -->

    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:site_name" content="KriveBot">
    <meta property="og:title" content="KriveBot - Bot dla ciebie">
    <meta property="og:description" content="KriveBot jest wygodnym botem na platformę Discord z wieloma funkcjami.">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">KriveBot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"> <a class="nav-link" href="https://krivebot.xyz">Główna</a> </li>
            <li class="nav-item"> <a class="nav-link" href="https://docs.krivebot.xyz">Dokumentacja</a> </li>
            <li class="nav-item"> <a class="nav-link" href="https://status.krivebot.xyz">Status</a> </li>
            <li class="nav-item"> <a class="nav-link" href="https://krivebot.xyz/youtube">YouTube</a> </li>
            <li class="nav-item"> <a class="nav-link" href="https://krivebot.xyz/twitter">Twitter</a> </li>
            <li class="nav-item"> <a class="nav-link" href="https://krivebot.xyz/public">GitHub</a> </li>
            <li class="nav-item"> <a class="nav-link" href="#features">Funkcje</a> </li>

            
            <li class="nav-item"> <a href="https://panel.krivebot.xyz/login"> <button class="btn-login" style="position: absolute; right: 50px;"> Zaloguj się </button> </a> </li>
            <li class="nav-item"> <a href="https://krivebot.xyz/invite"> <button class="btn-invite" style="position: absolute; right: 200px;"> Dodaj bota</button></a></li>
        </ul>
    </div>
</nav>

<!-- end nav -->
&nbsp;
<div class="container">
    <div class="row justify-content-center">
       <center> 
        <div class="col">
            <h3 class="hero-text"> KriveBot </h3>
            <p class="hero-text2"> Wszędzie. Na zawsze. </p>
        </div>
    </center>
    </div>
</div>
&nbsp;&nbsp;
<div class="container">
    <div class="row justify-content-center">
        <center>    
        <div class="col">
            &nbsp;
            &nbsp;
            <h4 class="krive"> Dlaczego Krive? </h4>
            &nbsp;
            <div class="row">
                <div class="col-sm-4">
                  <h3 class="original-whyour">Oryginalny</h3>
                  <p>Mamy setki oryginalnych planów dla tego bota! Bardzo dużo nawet jest już w trakcie prac/skończone</p>
                </div>
                <div class="col-sm-4">
                  <h3 class="easy-in-use-whyour">Łatwy w użyciu</h3>
                  <p> Samo skonfigurowanie bota nie jest trudne, jednak w przyszłości może się to zmienić ale spokojnie! Panel jest już w trakcie prac.</p>
                </div>
                <div class="col-sm-4">
                  <h3 class="whyour-3">Optymalny</h3>
                  <p> Ping bota zwykle nie przekracza 100ms pingu (jak już to przy włączaniu) a na komendy odpowiada szybko.</p>
                </div>
              </div>
        </div>
        </center> 
    </div>
</div>
&nbsp;&nbsp;
<section id="features"> 
<div class="container">
    <div class="row justify-content-center">
        <center>    
        <div class="col">
            &nbsp;
            <h4 class="krive"> Nasze funkcje </h4>
            &nbsp;
            <div class="row">
                <div class="col-sm-4">
                  <h3 class="original-whyour">Zarządzanie kanałami VC</h3>
                  <p> Posiadamy komendy, które pomogą ci zarządzać kanałami VC (voice-chat) [Kanały głosowe]</p>
                </div>
                <div class="col-sm-4">
                  <h3 class="easy-in-use-whyour">Dokumentacja</h3>
                  <p> Potrzebujesz więcej informacji o komendach? Nasza dokumentacja jest w stanie ci to zaoferować!</p>
                </div>
                <div class="col-sm-4">
                  <h3 class="whyour-3">Ułatwiony kontakt z administracją</h3>
                  <p> Dzięki naszemu supportowi oraz specjalnym komendom możemy ci zaoferować szybką i sprawną pomoc</p>
                </div>
                <div class="col-sm-4">
                    <h3 class="whyour-3">Zabezpieczony</h3>
                    <p> Nie musisz się martwić o swój serwer dodając naszego bota! Zabezpieczyliśmy bota na maxxa.</p>
                  </div>
                  <div class="col-sm-4">
                    <h3 class="whyour-3">Zabawa</h3>
                    <p> Mamy bardzo dużo komend 4Fun, które mogą zapewnić zabawę użytkownikom na twoim serwerze.</p>
                  </div>
                  <div class="col-sm-4">
                    <h3 class="whyour-3">Moderacja</h3>
                    <p> Wspomóż swoim moderatorom dzięki dopracowanych funkcji moderacji!</p>
                  </div>
                  <div class="col-sm-4">
                    <h3 class="whyour-3">Specjalne narzędzia</h3>
                    <p> Odkryj narzędzia, z którymi na łatwiźnie będziesz w stanie tworzyć lepszy serwer</p>
                  </div>
                  <div class="col-sm-4">
                    <h3 class="whyour-3">Aktualizowany</h3>
                    <p> Często wdrażamy co raz to większe aktualizacje!</p>
                  </div>
                  <div class="col-sm-4">
                    <h3 class="whyour-3">Dopracowany</h3>
                    <p> Ładny design, łatwo się dowiedzieć o informacjach do podanej komendy.</p>
                  </div>
              </div>
        </div>
        </center> 
    </div>
</div>

<p class="cpr"> Copyright © KriveBot. (Front-end testowy)</p>
</section>
</body>
</html>