<html>
<head>
    <meta charset="UTF-8">

    <!--
    Author: Korrumz2
    Copyright: Krive
    Fonts: fonts.google.com
    -->

    <!-- bootstrap -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- css -->

    <link href="/css/stylesheet.css" rel="stylesheet" type="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">KriveBot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"> <a class="nav-link" href="https://krivebot.xyz">Główna</a> </li>
            <li class="nav-item"> <a class="nav-link" href="https://docs.krivebot.xyz">Dokumentacja</a> </li>
            <li class="nav-item"> <a class="nav-link" href="https://status.krivebot.xyz">Status</a> </li>
            <li class="nav-item"> <a class="nav-link" href="https://krivebot.xyz/youtube">YouTube</a> </li>
            <li class="nav-item"> <a class="nav-link" href="https://krivebot.xyz/twitter">Twitter</a> </li>
            <li class="nav-item"> <a class="nav-link" href="https://krivebot.xyz/public">GitHub</a> </li>

            <li class="nav-item"> <a href="https://panel.krivebot.xyz/login"> <button class="btn-login" style="position: absolute; right: 50px;"> Zaloguj się </button> </a> </li>
            <li class="nav-item"> <a href="https://krivebot.xyz/invite"> <button class="btn-invite" style="position: absolute; right: 200px;"> Dodaj bota</button></a></li>
        </ul>
    </div>
</nav>

<!-- end nav -->

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h3 class="hero-text"> KriveBot </h3>
            <p class="hero-text2"> Bot stworzony specjalnie dla ciebie! </p>
            <p class="servers"> Serwery: <%= bot.guilds.cache.size %></p>
        </div>
    </div>
</div>
</body>
</html>