/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;900&family=Noto+Sans+TC:wght@700&display=swap');
@media only screen and (max-width: 600px) {

}
* {
    box-sizing: border-box;
}
body {
    background-color: #1d1e21;
}
a {
    text-decoration: none;
    color: white;
}
.navbar-brand {
    font-size: 30px;
    color: #ede4e4;
    position: relative;
    left: 20px;
    font-family: Noto Sans TC;
}
.nav-link {
    font-family: Noto Sans JP;
    font-size: 15px;
    color: #ede4e4;
    position: relative;
    left: 30px;
}
.btn-login {
    background-color: #7289da;
    border: none;
    padding: 10px 28px;
    color: white;
    border-radius: 10px;
    box-shadow: 7px 7px 5px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 7px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 5px -4px rgba(0,0,0,0.75);
}
.btn-invite {
    background-color: #7289da;
    border: none;
    padding: 10px 28px;
    color: white;
    border-radius: 10px;
    box-shadow: 7px 7px 5px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 7px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 5px -4px rgba(0,0,0,0.75);
}

.hero-text {
    font-size: 75px;
    font-family: Noto Sans TC;
    color: white;
    text-shadow: 10px 10px #252626
}
.hero-text2 {
    font-size: 30px;
    font-family: Noto Sans JP;
    color: rgb(218, 218, 218);
}
.btn-login-hero {
    background-color: #34e718;
    border: none;
    color: white;
    padding: 15px 32px;
    margin:0 0.3em 0.3em 0;
    border-radius: 10px;
    box-shadow: 7px 7px 5px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 7px 7px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 7px 5px -4px rgba(0,0,0,0.75);
    transition: background .3s;
}
.btn-discord-hero {
    background-color: #34e718;
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    box-shadow: 7px 7px 5px -4px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 7px 7px 5px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 5px -4px rgba(0, 0, 0, 0.75);

}
.krive {
    color: white;
    font-family: Noto Sans JP;
    font-size: 45px;
    align-items: center;
    color: #7289da;
    font-weight: bolder;
    text-shadow: 3px 3px #000000

}
.original-whyour {
    font-weight: bold;
    color: #1ef6c1;
    text-shadow: 2px 2px #000000
}
.support {
    font-weight: bold;
    color: #ff540f;
    text-shadow: 2px 2px #000000
}
.media {
    font-weight: bold;
    color: #05ab08;
    text-shadow: 2px 2px #000000;
}
.services {
    font-weight: bold;
    color: #7403ff;
    text-shadow: 2px 2px #000000
}
.easy-in-use-whyour {
    font-weight: bold;
    color:#1ef6c1;
    text-shadow: 2px 2px #000000
} 
.whyour-3 {
    font-weight: bold;
    color:#1ef6c1; 
    text-shadow: 3px 3px #000000
}
.row {
    color: white;
}
.cpr {
    color: white;
    text-align: center;
}