@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Poppins:wght@200&family=Roboto+Slab:wght@100;600&display=swap');
body {
    background-color: #36393e
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #1f2124;
    font-family: 'Poppins', 'sans-serif';
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    transition: all 0.3s ease 0s;
    color: #2bedac;
}
a {
    text-decoration: none;
    color: #fff;
}
.bot-name {
    font-size: 24px;
    font-family: Poppins;
    text-align: left;
}
.row {
    display: flex;
}
.column {
    flex: 50%;
    padding: 10px;
    height: 300px;
}
.title {
    text-align: center;
    text-decoration: none;
    font-family: Poppins;
    font-size: 60px;
    color: white;
    font-weight: bolder;
    text-shadow: 4px 4px 20px #424852;

}
.title-description {
    text-align: center;
    text-decoration: none;
    font-family: Poppins;
    font-size: 25px;
    margin-top: -40px;
    margin-bottom: 100px;
    color: #7289da;
}
.about-descriptions {
    text-decoration: none;
    font-family: Poppins;
    font-size: 20px;
    margin-top: -40px;
    margin-bottom: 100px;
    color: powderblue;
}