@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Lexend+Deca:wght@100;500&family=Montserrat:wght@700&family=Noto+Sans:wght@700&family=Poppins:wght@100&display=swap');
.sidebar-welcome {
    text-align: left;
}
body {
    background-color: #161616;
    margin: 0px;
}
html {
    overflow-x: hidden;
}
table {
    overflow: auto;
}
.shadow-down {
    -webkit-box-shadow: 0px 3px 16px 5px rgba(0,0,0,0.34);
    box-shadow: 0px 3px 16px 5px rgba(0,0,0,0.34);
}
nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: #272727;
    font-family: 'JetBrains Mono';
    text-align: center;
    margin: 0;
    width: 100%;
}
.nav_links li {
    display: inline-block;
    padding: 0px 10px;
    text-align: right;
    font-family: 'JetBrains Mono';
    text-align: left;
    font-size: 100%;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    font-family: 'JetBrains Mono';
    text-align: left;
    font-size: 100%;
}

.nav_links li a:hover {
    transition: all 0.3s ease 0s;
    color: #2bedac;
    font-family: 'Noto Sans';
    text-align: left;
    font-size: 100%;
}
a {
    text-decoration: none;
    color: #fff;
}
.navbar-list {
    text-align: center;
}
.navbar-skyndalex {
    font-size: 100%;
    color: #98fb98;
    font-family: "JetBrains Mono NL ExtraLight";
    text-align: left;
}
.home {
    color: #98fb98;
    font-family: 'JetBrains Mono ExtraBold';
    text-align: center;
    font-size: 150%;
}
.good {
    color: white;
    font-family: 'JetBrains Mono Light';
    text-align: center;

}


.button {
    background-color: #ff355e;
    font-family: 'Noto Sans', 'sans-serif';
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;

}
.button2 {
    background-color: #00b7eb;
    font-family: 'Noto Sans', 'sans-serif';
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.krivebot-info {
    color: #333333;
    font-family: 'Noto Sans';
    text-align: center;
}
.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
