@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Lexend+Deca:wght@100;500&family=Montserrat:wght@700&family=Noto+Sans:wght@700&family=Poppins:wght@100&display=swap');
.sidebar-welcome {
    text-align: left;
}
body {
    background-color: #161616;
    margin: 0px;
}
html {
    overflow-x: hidden;
}
table {
    overflow: auto;
}
.shadow-down {
    -webkit-box-shadow: 0px 3px 16px 5px rgba(0,0,0,0.34);
    box-shadow: 0px 3px 16px 5px rgba(0,0,0,0.34);
}
nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    background-color: #272727;
    font-family: 'Calibri';
    text-align: center;
    margin: 0;
    width: 100%;
}
.nav_links li {
    display: inline-block;
    padding: 0px 10px;
    text-align: right;
    font-family: 'Calibri';
    text-align: left;
    font-size: 120%;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
    font-family: 'Calibri';
    text-align: left;
    font-size: 120%;
}

.nav_links li a:hover {
    transition: all 0.3s ease 0s;
    color: #2bedac;
    font-family: 'Calibri';
    text-align: left;
    font-size: 120%;
}
a {
    text-decoration: none;
    color: #fff;
}
.navbar-list {
    text-align: center;
}
.navbar-skyndalex {
    font-size: 100%;
    color: #98fb98;
    font-family: "JetBrains Mono NL ExtraLight";
    text-align: left;
}
.home {
    color: #98fb98;
    font-family: 'JetBrains Mono ExtraBold';
    text-align: center;
    font-size: 150%;
    transition-duration: 0.4s;
}
.good {
    color: white;
    font-family: 'Calibri';
    text-align: center;

}


.button {
    background-color: #ff355e;
    transition-duration: 0.4s;
    font-family: 'Noto Sans', 'sans-serif';
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
.button2 {
    font-family: 'Noto Sans', 'sans-serif';
    background-color: rgb(0, 216, 108);
    transition-duration: 0.4s;
    text-decoration: none;
    border-radius: 10px;
    padding: 15px 32px;
    margin: 15px auto;
    margin-right: 5px;
    user-select: none;
    font-weight: 600;
    min-height: 22px;
    margin-left: 5px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    border: none;
    color: white;
}
.button:hover {
    background-color: #ff0033;
}
.button2:hover {
    background-color:  #1aff8c;

}
.krivebot-info {
    color: #333333;
    font-family: 'Noto Sans';
    text-align: center;
}
.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.grid-container {
    transition-duration: 0.2s;
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #161616;
    padding: 10px;
}

.grid-item {
    transition-duration: 0.2s;
    background-color: #161616;
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.about-title {
    color: #2bedac;
    font-family: Calibri;
}
.about-description {
    color: white;
    font-family: "JetBrains Mono";
}